/* CSS by ALEXANDER STANICHUK YOUR NAME */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;

  font-family: Merriweather;
  font-family: 'Source Sans 3';
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip:focus{
  position:static;
  width:auto;
  height:auto;
}

/* For my own workflow */
html{
  color: var(--truth-text);
}

/* ///ADD/// Navigation Styles */
header, nav{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}

#menu-toggle{
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.menu-button{
  cursor: pointer;
  background-color: var(--news-flash);
  padding: 1rem 0;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.mobile-nav ul{
  display: none;
  position: absolute;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  
}

.mobile-nav li a{
  padding: 2rem;
  text-decoration: none;
  display: block;
  color: var(--watchdog-white);
}

#menu-toggle:checked ~ .menu{
  display: block;
}

/* ///ADD/// Global Layout Styles */

html{
  min-width: 300px;
  margin: 0 auto;
}

header{
  padding: 2rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

nav{
  padding: 1rem 2rem;
  padding-top: 0;
  margin: 0 auto;
}

main{
  margin: 2rem;
}

blockquote{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.15rem;
  margin-top: 1.5rem;
}

section{
  margin-top: 3rem;
}

.bnArticle{
  background-color: var(--news-flash);
  border: 2px solid var(--truth-text);
  margin-bottom: 1rem;
  filter: drop-shadow(var(--shadow));
  color: var(--watchdog-white);
  padding: 1.5rem;
}

.bnArticle video{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.featArticle{
  background-color: var(--watchdog-white);
  border: 2px solid var(--story-subtitle);
  margin-bottom: 1rem;
  padding: 1.5rem;
  filter: drop-shadow(var(--shadow));
}

form{
  display: block;
  margin: 0 auto;
  background-color: var(--news-flash);
  border: 2px solid var(--truth-text);
  padding: 1.5rem;
  color: var(--watchdog-white);
}

input, label{
  display: block;
  width: 100%;
}

fieldset{
  border: 2px solid var(--blue-bulletin);
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  margin-top: 1rem;
}

legend{
  text-transform: uppercase;
  margin-left: 0.5rem;
}

input{
  height: 2.5rem;
  border: none;
  border: 1px solid var(--blue-bulletin);
  border-radius: 3px;
  margin: 0.25rem auto;
}

label{
  font-size: 1.15rem;
}

label[for=phoneNumb]{
  margin-top: 1.25rem;
}

input[type=checkbox]{
  margin: 0.5rem;
  height: 1.5rem;
}

fieldset > label{
  margin-top: 1rem;
}

input[type=submit]{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  padding: 1rem;
  padding-bottom: 2.5rem;
  border-radius: 0px;
  filter: drop-shadow(var(--shadow));
  cursor: pointer;
}

footer{
  background-color: var(--blue-bulletin);
  padding: 2rem;
  color: var(--watchdog-white);
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  gap: 1rem;
}

footer > h2{
  margin-top: 1rem;
  grid-column-start: 1;
  grid-column-end: -1;
}

footer > a{
  padding: 1.5rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

footer > p{
  grid-column-start: -5;
  grid-column-end: -1;
  text-align: center;
}

/* ///ADD/// Global Text Styles */

h1, h2, h3, .tagline{
  font-family: var(--font-heading);
}

h1{
  font-size: 4rem;
  margin-bottom: .75rem;
  letter-spacing: 0.1rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

h3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

p{
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}

.bnArticle > h3{
  border-bottom: 1px solid var(--watchdog-white);
}

.featArticle > h3{
  border-bottom: 1px solid var(--story-subtitle);
}


/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark){
  .featArticle{
    background-color: var(--truth-text);
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}